[submodule "client"]
	path = client
	url = git://github.gatech.edu/HDAP/report-type-mapper-client.git
[submodule "api"]
	path = api
	url = git://github.gatech.edu/HDAP/report-type-mapper-api.git
[submodule "auto-mapper"]
	path = auto-mapper
	url = git://github.gatech.edu/HDAP/report-tagging.git
